# This workflow will build a package using Gradle and publish snapshots on master updates or releases on release creation.
# For more information see: https://github.com/actions/setup-java#gradle-builds

name: Gradle Package

on:
  push:
    branches: [master]
  release:
    types: [created]

jobs:
  build:

    runs-on: ubuntu-latest
    env:
      CLUE_SNAPSHOT: ${{ github.event_name == 'push' }}

    steps:
    - uses: actions/checkout@v4
    - name: Set up Java 21
      uses: actions/setup-java@v3
      with:
        distribution: 'temurin'
        java-version: '21'
        cache: 'gradle'

    - name: Build with Gradle
      run: gradle build

    - name: Publish snapshot to GitHub Packages
      if: github.event_name == 'push'
      run: gradle publish
      env:
        GITHUB_ACTOR: ${{ github.actor }}
        GITHUB_TOKEN: ${{ github.token }}

    - name: Publish release to GitHub Packages
      if: github.event_name == 'release'
      run: gradle publish
      env:
        GITHUB_ACTOR: ${{ github.actor }}
        GITHUB_TOKEN: ${{ github.token }}
